@model ProductsCatalog.Website.ViewModels.LoginViewModel


@{
  ViewBag.Title = "Products";
  Layout = "~/Views/Shared/_AccountLayout.cshtml";
}


<section id="form">
  <!--form-->
  <div class="container">
    <div class="row">



      <div class="col-sm-4 col-sm-offset-1">
        <div class="login-form">
          <!--login form-->
          <h2>Login to your account</h2>
          @using (@Html.BeginForm("Login", "Account", FormMethod.Post, new { @class = "class" }))
          {
            @Html.TextBoxFor(m => m.UserName, new { @placeholder = "Username" })
            @Html.ValidationMessageFor(m => m.UserName)
            @Html.TextBoxFor(m => m.Password, new { @placeholder = "Password", @type = "password" })
            @Html.ValidationMessageFor(m => m.Password)
            @*<input type="text" placeholder="Name" />
              <input type="email" placeholder="Email Address" />*@
            <button type="submit" class="btn btn-default">Login</button>
          }
        </div><!--/login form-->
      </div>


      <div class="col-sm-1">
        <h2 class="or">OR</h2>
      </div>
      <div class="col-sm-4">
        <div class="signup-form">
          <!--sign up form-->
          <h2>New User Signup!</h2>
          <form action="#">
            <input type="text" placeholder="Name" />
            <input type="email" placeholder="Email Address" />
            <input type="password" placeholder="Password" />
            <button type="submit" class="btn btn-default">Signup</button>
          </form>
        </div><!--/sign up form-->
      </div>
    </div>
  </div>
</section><!--/form-->
