@model IEnumerable<ProductsCatalog.Website.ViewModels.CategoryViewModel>
@{
  ViewBag.Title = "Categories";
  Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Categories</h2>

<button type="button" class="btn btn-success" onclick="@("window.location.href='" + @Url.Action("Create", "Category") + "'");">Add new category</button>

<table class="table">
  <thead>
    <tr>
      <th style="text-align: center">Photo</th>
      <th>Name</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    @foreach (var category in Model)
    {
      <tr id="Row_@category.Id">
        <td style="text-align: center"><img width="150" src="/Uploads/Category/@category.Photo" /></td>
        <td>@category.Name</td>
        <td>
          <a type="button" class="btn btn-default" href="@Url.Action("Index","Product",new { categoryId=category.Id})">
            View Products
          </a>
          <a type="button" class="btn btn-primary" href="@Url.Action("Update","Category",new { id=category.Id})">
            Edit
          </a>
          <button type="button" class="btn btn-danger" data-toggle="modal" data-category-Id="@category.Id" data-target="#deleteModal">Delete</button>
        </td>
      </tr>
    }
  </tbody>
</table>

<!-- Modaml -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Delete</h5>
      </div>
      <div class="modal-body">
        Are you sure you want to delete this category?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
        <button type="button" class="btn btn-primary" id="confirmDelete">Yes</button>
      </div>
    </div>
  </div>
</div>


@section scripts{
  <script type="text/javascript">

    var categoryId;
    $('#deleteModal').on('show.bs.modal', function (event) {
      var button = $(event.relatedTarget)
      categoryId = button.data('category-Id')
    });

    $("#confirmDelete").click(function () {
      $.ajax({
        type: "Get",
        url: '/Category/Delete/' + categoryId,
        success: function (result) {
          if (result) {
            $('#deleteModal').modal('hide');
            $('#Row_' + categoryId).remove();
          }
          else {
            console.log("There is something wrong");
          }
        }
      });
    });
  </script>

}
